{% extends 'tmpl/layout.html' %}

{% block title %}Alias page{% endblock %}
{% block breadcrumb %}Alias{% endblock %}
{% block styles %}
<link rel="stylesheet" href="css/default.css">
{% endblock %}
{% block scripts %}
{% endblock %}

{% block content %}
<h2>Liste des alias</h2>

<table id="myTab" class="table table-striped">
    <thead>
      <tr>
        <th>Nom de l'alias</th>
        <th>Adresse IP</th>
        <th>Port</th>
      </tr>
    </thead>
    <tbody>
    {% for row in items %}
        <tr>
            <td>{{ row.name }}</td>
            <td>{{ row.ipAddress }}</td>
            <td>{{ row.port }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}