{% extends 'tmpl/layout.html' %}

{% block title %}Index page{% endblock %}

{% block content %}

  <div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="images/PetitPrince.jpg" class="img-fluid rounded-start">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          {% for row in items %}
          <h5 class="card-title">{{ row.Titre }}</h5>
          <p class="card-text">{{ row.Description }}</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>

{% endblock %}
